{
  "graphicsPath": "../graphics-js",
  "templatePath": "../dailygraphics-templates",
  "driveFolder": "folder ID or blank for default",
  "s3": {
    "bucket": "",
    "prefix": "dailygraphics/graphics"
  },
  "analyticsID": ""
}