:root {
  --off-black: #333;
  --lightest-gray: #ebebeb;
  --light-gray: #ddd;
  --middle-gray: #888;
  --dark-gray: #666;
  --darkest-gray: #4d4d4d;
  --off-white: #f7f7f7;
  --blue-300: hsl(215, 75%, 63%);
  --blue-400: hsl(214, 75%, 58%);
  --blue-500: hsl(215, 91%, 45%);
  --blue: var(--blue-500);
  --red: #D8472B;
  --dark-red: #A23520;

  --local: green;
  --staging: orange;
  --production: var(--red);
  --error: var(--dark-red);

  font-family: sans-serif;
  line-height: 1.5;

  --body-bg: #fff;
  --body-color: var(--off-black);
  --header-bg: var(--lightest-gray);
  --border-color: var(--light-gray);
  --link-color: var(--blue-500);
  --link-hover: var(--blue-300);
  --form-element-bg: var(--header-bg);

  @media (prefers-color-scheme: dark) {
    --body-bg: #212121;
    --header-bg: var(--darkest-gray);
    --border-color: var(--darkest-gray);
    --body-color: var(--lightest-gray);
    --link-color: var(--blue-300);
    --link-hover: var(--blue-400);
    --blue: var(--link-color);
    --red: #D8472B;
    --dark-red: #D8472B;
  }
}

html, body {
  background: var(--body-bg, #fff);
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--body-color);
}

* {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

a, a.visited {
  color: var(--link-color);

  &:hover, &:active {
    color: var(--link-hover);
  }
}

hr {
  margin: 8px auto;
  max-width: 50%;
  background: none;
  border: none;
  border-top: 4px dotted var(--border-color);
}

button, .button {
  position: relative;
  padding: 2px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  transition: all .1s linear;
  background: var(--body-bg);
  text-decoration: none;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: inherit;

  &:hover, &:focus {
    outline: none;
    border: 1px solid var(--link-hover);

    .tooltip {
      display: block;
      opacity: 1;
    }
  }

  &[aria-pressed="true"] {
    background: var(--blue);
    color: var(--off-white);
  }

  .tooltip {
    opacity: 0;
    position: absolute;
    top: calc(100% + 4px);
    right: -4px;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    padding: 4px 8px;
    pointer-events: none;
    transition: opacity .1s .5s linear;
    text-align: center;
    color: var(--dark-gray);
  }
}

.inline-svg {
  text-align: center;
  fill: currentColor;

  & svg {
    display: block;
    margin: auto;
  }
}

input {
  border: none;
  border-radius: 3px;
  font-size: inherit;
  font-family: inherit;
  padding: 4px;
  background: var(--form-element-bg);
  color: var(--body-color);
}

select {
  padding: 4px;
  font-size: inherit;
  font-family: inherit;
  color: var(--link-color);
  font-weight: bold;
  background: var(--body-bg);
}

/* components */
.toolbar {
  background: var(--header-bg);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: relative;
  flex-wrap: wrap;

  @media (max-width: 900px) {
    justify-content: flex-end;
  }

  & h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    display: inline;
  }

  .title {
    flex: 1;

    @media (max-width: 900px) {
      flex: 0 0 100%;
      padding-bottom: 8px;
    }
  }

  .button, button, select {
    margin: 0 4px 0;
    font-size: 12px;
  }

  & input {
    display: block;
    font-size: 16px;
    border: 0;
    padding: 0 10px;
    background: var(--body-bg);
  }

  .spacer {
    border-left: 1px solid var(--middle-gray);
    margin: 0 8px;
  }
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

.toast {
  background: var(--dark-gray);
  color: var(--off-white);
  font-weight: bold;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  right: 0;
  padding: 16px 32px;
  display: none;

  &.show {
    display: block;
    animation: fade 400ms linear;
  }

  &[data-type="error"] {
    background: var(--error);
  }
}

@keyframes slide-down {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

.shade {
  text-align: right;
  background: var(--dark-gray);
  color: var(--off-white);
  padding: 16px;
  margin-bottom: 32px;
  box-shadow: 0 16px 8px rgba(0, 0, 0, .2);
  display: none;
  font-size: 16px;

  &.show {
    animation: slide-down 800ms;
    display: block;
  }

  & form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 0;
    text-style: italic;
  }

  & label, & input, & select, & button {
    margin: 0 8px;
  }

  & label + input[type="checkbox"] {
    margin-left: 0;
  }
}


/* home page */

.root-list {
  background: var(--body-bg);

  .graphics-list {
    max-width: 400px;
    margin: 40px auto;
  }

  & li {
    .contents {
      display: flex;
      justify-content: space-between;
      margin: 2px 0;
      padding: 2px;
      font-size: 18px;
      border-bottom: 1px dashed var(--border-color);
    }

    &.hide {
      display: none;
    }
  }

  & a {
    text-decoration: none;
  }

  .create.shade input[name="createSheet"]:checked + input[name="sheetID"] {
    display: none;
  }
}

/* preview page */

.preview-page {

  & a.back {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    line-height: 1;
  }

  .edit-sheet.button {
    color: green;
  }

  .edit-doc.button {
    color: var(--blue);
  }

  .prod-link.button {
    color: var(--red);
  }

  .preview {
    margin: 32px auto;
  }

  .preview-select {
    padding: 20px;

    & select {
      margin: auto;
      display: block;
    }
  }

  .preview-container {
    border: 2px dashed var(--border-color);
    /* exception so we can add borders with impunity */
    margin: auto;
    box-sizing: content-box;
    width: 100%;

    &[data-width="sidebar"] { width: 180px }
    &[data-width="mobile"] { width: 360px }
    &[data-width="medium"] { width: 650px }
    &[data-width="desktop"] { width: 900px }
    &[data-width="fluid"] { border-width: 2px 0; }
  }

  .metadata {
    max-width: 700px;
    margin: auto;
    padding: 16px;
  }

  .copy-on-click {
    border: none;
    padding: 16px 8px;
    font-family: monospace;
    display: block;
    width: 100%;
    background: var(--form-element-bg);
    color: var(--body-color);
  }

  &.deployed .hide-deployed {
    display: none;
  }

  .direct-link {
    background: var(--form-element-bg);
    display: block;
    padding: 20px;
    margin: 20px 0;

    & a {
      font-style: italic;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .deploy-graphic {
    color: var(--production);
  }

}
