:root {
  --off-black: #333;
  --lightest-gray: #ebebeb;
  --light-gray: #ddd;
  --middle-gray: #888;
  --dark-gray: #666;
  --off-white: #f7f7f7;
  --blue: #4774CC;
  --local: green;
  --staging: orange;
  --production: red;
  --error: darkred;
  --dashes: 2px dashed #ddd;
  font-family: sans-serif;
  line-height: 1.5;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--off-black);
}

* {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

a, a.visited {
  color: var(--blue);
}

hr {
  margin: 8px auto;
  max-width: 50%;
  border-top: 4px dotted var(--middle-gray);
}

button, .button {
  position: relative;
  padding: 2px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  transition: all .1s linear;
  background: white;
  text-decoration: none;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: inherit;
}

button:hover, button:focus,
.button:hover, .button:focus {
  outline: none;
  border: 1px solid var(--middle-gray);
}

button[aria-pressed="true"] {
  background: var(--blue);
  color: var(--off-white);
}

.inline-svg {
  text-align: center;
  fill: currentColor;
}

.inline-svg svg {
  display: block;
  margin: auto;
}

button .tooltip,
.button .tooltip {
  opacity: 0;
  position: absolute;
  top: calc(100% + 4px);
  right: -4px;
  background: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
  padding: 4px 8px;
  pointer-events: none;
  transition: opacity .1s .5s linear;
  text-align: center;
  color: var(--dark-gray);
}

button:hover .tooltip,
button:focus .tooltip,
.button:hover .tooltip,
.button:focus .tooltip {
  display: block;
  opacity: 1;
}

input {
  border: none;
  border-radius: 3px;
  font-size: inherit;
  font-family: inherit;
  padding: 4px;
}

select {
  padding: 4px;
  font-size: inherit;
  font-family: inherit;
  color: var(--blue);
  font-weight: bold;
}

/* components */

.toolbar {
  background: var(--lightest-gray);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: relative;
  flex-wrap: wrap;
}

.toolbar h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.toolbar .title {
  flex: 1;
}

@media (max-width: 900px) {
  .toolbar {
    justify-content: flex-end;
  }

  .toolbar .title {
    flex: 0 0 100%;
    padding-bottom: 8px;
  }
}

.toolbar button,
.toolbar .button,
.toolbar select {
  margin: 0 4px 0;
  font-size: 12px;
}

.toolbar input {
  display: block;
  font-size: 16px;
  border: 0;
  background: var(--off-white);
  padding: 0 10px;
}

.toolbar .spacer {
  border-left: 1px solid var(--middle-gray);
  margin: 0 8px;
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

.toast {
  background: var(--dark-gray);
  color: var(--off-white);
  font-weight: bold;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  right: 0;
  padding: 16px 32px;
  display: none;
}

.toast.show {
  display: block;
  animation: fade 400ms linear;
}

.toast[data-type="error"] {
  background: var(--error);
}

@keyframes slide-down {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

.shade {
  text-align: right;
  background: var(--dark-gray);
  color: var(--off-white);
  padding: 16px;
  margin-bottom: 32px;
  box-shadow: 0 16px 8px rgba(0, 0, 0, .2);
  display: none;
  font-size: 16px;
}

.shade.show {
  animation: slide-down 800ms;
  display: block;
}

.shade form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shade label {
  font-size: 14px;
  font-weight: normal;
  margin-right: 0;
  text-style: italic;
}

.shade label,
.shade input,
.shade select,
.shade button {
  margin: 0 8px;
}

.shade label + input[type="checkbox"] {
  margin-left: 0;
}

/* home page */

.root-list {
  background: var(--off-white);
}

.root-list .graphics-list {
  max-width: 400px;
  margin: 40px auto;
}

.root-list li .contents {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  padding: 2px;
  font-size: 18px;
  border-bottom: 1px dashed var(--light-gray);
}

.root-list li.hide {
  display: none;
}

.root-list a {
  text-decoration: none;
}

.root-list .create.shade input[name="createSheet"]:checked + input[name="sheetID"] {
  display: none;
}

/* preview page */

.preview-page a.back {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  line-height: 1;
}

.preview-page .edit-sheet.button {
  color: green;
}

.preview-page .prod-link.button {
  color: red;
}

.preview-page .preview {
  margin: 32px auto;
}

.preview-page .preview-select {
  padding: 20px;
}

.preview-page .preview-select select {
  margin: auto;
  display: block;
}


.preview-page .preview-container {
  border: 2px dashed var(--light-gray);
  /* exception so we can add borders with impunity */
  margin: auto;
  box-sizing: content-box;
  width: 100%;
}

.preview-page .preview-container[data-width="sidebar"] { width: 180px }
.preview-page .preview-container[data-width="mobile"] { width: 360px }
.preview-page .preview-container[data-width="desktop"] { width: 730px }
.preview-page .preview-container[data-width="fluid"] { border-width: 2px 0; }

.preview-page .metadata {
  max-width: 700px;
  margin: auto;
  padding: 16px;
}

.preview-page .copy-on-click {
  border: none;
  padding: 16px 8px;
  background: var(--light-gray);
  font-family: monospace;
  display: block;
  width: 100%;
}

.preview-page.deployed .hide-deployed {
  display: none;
}

.preview-page .direct-link {
  background: var(--off-white);
  display: block;
  padding: 20px;
  margin: 20px 0;
}

.preview-page .direct-link a {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.preview-page .deploy-graphic {
  color: var(--production);
}