<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= slug %></title>
  <link rel="shortcut icon" href="https://media.npr.org/favicon.ico">
  <% if (typeof stylesheet == "string") { %>
  <style>
  <%= stylesheet %>
  </style>
  <% } else { %>
  <link rel="stylesheet" href="/style.css">
  <% } %>
</head>
<body class="preview-page <%= deployed ? "deployed" : "local" %>">
  <header class="toolbar">
    <div class="title">
      <a class="back hide-deployed" aria-label="Back to graphic index" href="/">&laquo;</a>
      <h1><%= slug %></h1>
    </div>

    <select class="breakpoint" aria-label="Preview width">
      <option value="sidebar">Sidebar (180px)</option>
      <option value="mobile" selected>Mobile (360px)</option>
      <option value="desktop">Desktop (730px)</option>
      <option value="fluid">Fluid</option>
    </select>

    <% if (typeof sheet != "undefined") { %>
    <a target="_blank" class="edit-sheet button" href="https://docs.google.com/spreadsheets/d/<%= sheet %>/edit#gid=0">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-folder_shared-24px.svg") %>
      </div>
      <span class="tooltip">Sheet</span>
    </a>
    <% } %>

    <button class="refresh-sheet hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-autorenew-24px.svg") %>
      </div>
      <span class="tooltip">Refresh sheet</span>
    </button>

    <a target="_blank" class="prod-link button hide-deployed"
      href="https://<%= config.s3.bucket %>/<%= config.s3.prefix %>/<%= slug %>/preview.html">
      <div aria-hidden-="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-open_in_browser-24px.svg") %>
      </div>
      <span class="tooltip">View in production</span>
    </a>

    <span class="spacer hide-deployed"></span>

    <button class="show-duplicate hide-deployed" aria-pressed="false">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-create_new_folder-24px.svg") %>
      </div>
      <span class="tooltip">Duplicate this</span>
    </button>

    <button class="deploy-graphic hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-cloud_upload-24px.svg") %>
      </div>
      <span class="tooltip">Deploy to production</span>
    </button>

  </header>

  <div class="copy shade">
    <form method="POST" action="/graphic/<%= slug %>/duplicate">
      <label for="slug">Duplicate as:</label>
      <input id="slug" name="slug" required>
      <button class="submit">Duplicate</button>
    </form>
  </div>

  <div class="preview-container" data-width="mobile">
    <div data-pym-loader data-child-src="./index.html?<%= typeof queryParams != "undefined" ? queryParams : "" %>" id="preview">Loading...</div>
  </div>

  <hr>

  <section class="metadata">

    <h2>Embed code</h2>
    <textarea
      class="embed-code copy-on-click"
      readonly="readonly"
      rows="4"
      cols="80"
      aria-label="Embed code"
    ><%- await t.process(`${config.templateRoot}/embed.html`, { config, slug }) %></textarea>

    <%
    if (typeof COPY != "undefined") {
    %>
    <h2>Copyedit e-mail</h2>

    <p>
      Note: if you have a <var>metadata</var> tab in your sheets for this graphic, it will be used to fill in the blanks below.

    <textarea
      class="copyedit-email copy-on-click"
      readonly="readonly"
      rows="<%= 16 + Object.keys(COPY.labels).length * 3 %>"
      aria-label="Copyedit e-mail"
    ><%= await t.process(`${config.templateRoot}/copyedit.html`, { COPY, config, slug, sheet }) %></textarea>
    <% } %>

    <h2>Direct link</h2>

    Underneath the graphic embed, in the text of the story, add a prompt with a direct link to the graphic (without this preview frame, embed code, etc.). You can copy/paste the text below directly into Seamus (new editor) and the formatting should be preserved.

    <blockquote class="direct-link">
      <%= await t.process(`${config.templateRoot}/link.html`, { config, slug }) %>
    </blockquote>

  </section>

  <% if (!deployed) { %>
  <script type="module" src="/parentPage.js"></script>
  <% } %>
  <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>
  <script>
// this is here so that it still works on deployed pages
var preview = document.querySelector(".preview-container");
var breakSelect = document.querySelector("select.breakpoint");

breakSelect.addEventListener("change", function() {
  var breakpoint = this.value;
  preview.setAttribute("data-width", breakpoint);
  window.location.hash = breakpoint;
});

if (window.location.hash) {
  var w = window.location.hash.replace(/#/, "")
  preview.setAttribute("data-width", w);
  breakSelect.value = w;
}

  </script>
</body>
</html>
