<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= slug %></title>
  <link rel="shortcut icon" href="https://media.npr.org/favicon.ico">
  <% if (typeof stylesheet == "string") { %>
  <style>
  <%= stylesheet %>
  </style>
  <% } else { %>
  <link rel="stylesheet" href="/style.css">
  <% } %>
</head>
<body class="preview-page <%= deployed ? "deployed" : "" %>">
  <header class="toolbar">
    <a class="back hide-deployed" aria-hidden="true" href="/">&laquo;</a>

    <h1 class="title"><%= slug %></h1>
    
    <select class="breakpoint" aria-label="Preview width">
      <option value="sidebar">Sidebar (180px)</option>
      <option value="mobile" selected>Mobile (360px)</option>
      <option value="desktop">Desktop (730px)</option>
      <option value="fluid">Fluid</option>
    </select>
    
    <% if (typeof sheet != "undefined") { %>
    <a target="_blank" class="edit-sheet button" href="https://docs.google.com/spreadsheets/d/<%= sheet %>/edit#gid=0">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-folder_shared-24px.svg") %>
      </div>
      <span class="tooltip">Sheet</span>
    </a>
    <% } %>

    <a target="_blank" class="prod-link button hide-deployed"
      href="http://<%= config.s3.bucket %>/<%= config.s3.prefix %>/<%= slug %>/preview.html">
      <div aria-hidden-="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-open_in_browser-24px.svg") %>
      </div>
      <span class="tooltip">View in production</span>
    </a>
    <span class="spacer hide-deployed"></span>
    
    <button class="refresh-sheet hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-autorenew-24px.svg") %>
      </div>
      <span class="tooltip">Refresh sheet</span>
    </button>
    <button class="capture-fallback hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-camera_alt-24px.svg") %>
      </div>
      <span class="tooltip">Capture fallback</span>
    </button>
    <button class="deploy-graphic hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-cloud_upload-24px.svg") %>
      </div>
      <span class="tooltip">Deploy to production</span>
    </button>

  </header>

  <div class="preview-container" data-width="mobile">
    <div data-pym-loader data-child-src="./index.html" id="preview">Loading...</div>
  </div>
  
  <hr>

  <section class="metadata">

    <h2>Embed code</h2>
    <textarea
      class="embed-code copy-on-click"
      readonly="readonly"
      rows="4"
      cols="80"
      aria-label="Embed code"
    ><%=
`<p data-pym-loader data-child-src="https://apps.npr.org/dailygraphics/graphics/{{slug}}/" id="responsive-embed-{{slug}}"> Loading... </p> <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>`
.replace(/\</g, "&lt;")
.replace(/\>/g, "&gt;")
.replace(/\{\{slug\}\}/g, slug) %></textarea>

    <% 
    if (typeof COPY != "undefined") { 
      var m = s => (COPY.metadata && COPY.metadata[s]) || `__${s.toUpperCase()}__`;
    %>
    <h2>Copyedit e-mail</h2>

    <p>
      Note: if you have a <var>metadata</var> tab in your sheets for this graphic, it will be used to fill in the blanks below.

    <textarea 
      class="copyedit-email copy-on-click"
      readonly="readonly"
      rows="<%= 16 + Object.keys(COPY.labels).length * 3 %>"
      aria-label="Copyedit e-mail"
    >
This graphic accompanies <%= m("author") %>'s story, running <%= m("time") %>, about <%= m("subject") %>.

Story URL (not yet published): http://www.npr.org/templates/story/story.php?storyId=<%= m("seamus_id") %>&live=1

Expected run date: <%= m("time") %>

Primary graphics contact: <%= "user" in config ? config.user.displayName : "__GRAPHICS_CONTACT__" %>
Primary editorial contact: <%= m("editorial_contact") %>

---- GRAPHIC <%= slug %> ----

Spreadsheet URL: https://docs.google.com/spreadsheets/d/<%= sheet %>/edit#gid=0
Production URL: https://apps.npr.org/dailygraphics/graphics/<%= slug %>/preview.html
<% Object.keys(COPY.labels).forEach(key => __p += `\n${key}: ${COPY.labels[key]}\n`); %>
    </textarea>
    <% } %>

    <h2>Direct link</h2>

    Underneath the graphic embed, in the text of the story, add a prompt with a direct link to the graphic (without this preview frame, embed code, etc.). You can copy/paste the text below directly into Seamus (new editor) and the formatting should be preserved.

    <blockquote class="direct-link">
      <p><em><strong> <a
        href="https://apps.npr.org/dailygraphics/graphics/<%= slug %>?mode=childlink&utm_source=nprnews&utm_medium=app&utm_campaign=storyredirect">
        Don't see the graphic above? Click here.
      </a></em></strong></p>
    </blockquote>

  </section>

  <% if (!deployed) { %>
  <script type="module" src="/parentPage.js"></script>
  <% } %>
  <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>
  <script>
// this is here so that it still works on deployed pages
var preview = document.querySelector(".preview-container");
var breakSelect = document.querySelector("select.breakpoint");

breakSelect.addEventListener("change", function() {
  var breakpoint = this.value;
  preview.setAttribute("data-width", breakpoint);
  window.location.hash = breakpoint;
});

if (window.location.hash) {
  var w = window.location.hash.replace(/#/, "")
  preview.setAttribute("data-width", w);
  breakSelect.value = w;
}

  </script>
</body>
</html>
