<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= slug %></title>
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" href="https://media.npr.org/favicon.ico">
</head>
<body class="preview-page">
  <header class="toolbar">
    <a class="back" aria-hidden="true" href="/">&laquo;</a>

    <h1 class="title"><%= slug %></h1>
    
    <select class="breakpoint">
      <option value="sidebar">Sidebar (180px)</option>
      <option value="mobile" selected>Mobile (360px)</option>
      <option value="desktop">Desktop (730px)</option>
    </select>
    
    <% if (typeof sheet != "undefined") { %>
    <a target="_blank" class="edit-sheet button" href="https://docs.google.com/spreadsheets/d/<%= sheet %>/edit#gid=0">Sheet</a>
    <% } %>

    <a target="_blank" class="prod-link button"
      href="http://<%= config.s3.bucket %>/<%= config.s3.prefix %>/<%= slug %>">
      Live
    </a>
    
    <span class="spacer"></span>
    
    <button class="refresh-sheet">Refresh sheet</button>
    <button class="deploy-graphic">Deploy</button>
  </header>

  <div class="preview-container" data-width="mobile">
    <div data-pym-loader data-child-src="./index.html" id="preview">Loading...</div>
  </div>
  
  <hr>

  <section class="metadata">

    <h2>Embed code</h2>
    <textarea class="embed-code" readonly="readonly" rows="4" cols="80"><%=
`<p data-pym-loader data-child-src="https://apps.npr.org/dailygraphics/graphics/{{slug}}"id="responsive-embed-{{slug}}"> Loading... </p> <script type="text/javascript" src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>`
.replace(/\</g, "&lt;")
.replace(/\>/g, "&gt;")
.replace(/\{\{slug\}\}/g, slug) %></textarea>

  </section>

  <div class="toast"></div>

  <script type="module" src="/parentPage.js"></script>
  <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>
</body>
</html>
