<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="https://media.npr.org/favicon.ico" />
  </head>
  <body class="root-list">
    
    <header class="toolbar">
      <h1 class="title">daily.graphics</h1>
      <button class="new-graphic">new()</button>
      <input type="search" placeholder="Search list" class="search-graphics"/>
    </header>
    <div class="create-shade">
      <form method="POST" action="/graphic">
        <select id="template" name="template">
          <% templates.forEach(t => { %>
          <option value="<%= t %>"><%= t %></option>
          <% }) %>
        </select>
        <input type="text" required name="slug">
        <button type="submit">Create</button>
      </form>
    </div>
    
    <ol class="graphics-list">
    <% graphics.forEach(function(g) { %>
      <li data-slug="<%= g %>" class="item">
        <div class="contents">
          <a href="/graphic/<%= g %>/"><%= g %></a>
          <button class="clone-graphic" data-slug="<%= g %>">clone</a>
        </div>
    <% }); %>
    </ol>

    <script src="rootPage.js"></script>
  </body>
</html>