<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="https://media.npr.org/favicon.ico" />
    <title>Daily Graphics</title>
  </head>
  <body class="root-list">
    
    <header class="toolbar">
      <h1 class="title">daily.graphics</h1>
      <button class="new-graphic">new()</button>
      <input type="search" placeholder="Search slugs" class="search-graphics"/>
      <input type="search" placeholder="Search templates" class="search-templates"/>
    </header>
    <div class="create shade">
      <form method="POST" action="/graphic">
        <select id="template" name="template">
          <% templates.forEach(t => { %>
          <option value="<%= t %>"><%= t.replace(/(_|^)(\w)/g, (_, p, s) => " " + s.toUpperCase()) %></option>
          <% }) %>
        </select>
        <input type="text" required name="slug">
        <label for="createSheet">Create Sheet</label>
        <input type="checkbox" name="createSheet" id="createSheet" checked="checked">
        <input type="text" name="sheetID" placeholder="Existing Sheet ID">
        <button type="submit">Create</button>
      </form>
    </div>

    <div class="graphics-list">
      <table id="state-table" role="table">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">
              <div><div class="icon"></div></div>
              <div class="header">Slug</div>
            </th>
            <th role="columnheader">
              <div><div class="icon"></div></div>
              <div class="header">Original template</div>
            </th>
          </tr>
        </thead>
       
        <% graphics.forEach(function(g) {%>
          <tr data-slug="<%= g %>" data-template="<%= graphicMetadata[g].templateType %>" class="item" role="row">
            <td data-slug="<%= g %>" role="cell" data-title="Slug">
              <div class="contents">
                <a href="/graphic/<%= g %>/"><%= g %></a>
              </div>
            </td>
            <td role="cell" data-title="template"><%= graphicMetadata[g].templateType %></td>
          </tr>
        <% }); %>

      </table>
    </div>
    <script type="module" src="rootPage.js"></script>
  </body>
</html>